html {
    overflow-y: scroll;
}

body {
    /*font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;*/
}

a {

}

a:hover {
    text-decoration: none;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    /*font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;*/
    margin: 0;
}

h1 small {
    font-size: 17.5px;
    color: #fff;
}

/* header */

.header {
    padding: 20px 0;
    /*background: #f5f5f5;*/
}

.header-inner {
    padding: 0 20px;
}

#logo a {
    /*background: #000;*/
    color: #fff;
    /*padding: 5px 15px;*/
}

/* content */

.page-title {
    background-color: #f9f9f9;
    padding: 5px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
}

/* footer */

.footer {
    background: #404040;
    padding: 20px;
}

.copyright {
    background: #535353;
    padding: 10px;
    border-radius: 6px;
}

.copyright ul > li {
    float: left;
    list-style: none;
}

.copyright ul > li > a {
    display: block;
    padding: 0 10px;
    color: #999;
    font-size: 85%;
}

/* bootstrap */

.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px 0 1px;
    border-color: #efefef;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
}

.navbar-inner {
    background: #fff;
}

.navbar .nav > li > a {
    background: url(/bundles/animadouapp/img/layout/nav_li_separator.png) no-repeat right;
    color: #000;
}

.navbar .nav > li:last-child > a {
    background: none !important;
}

.navbar .nav > li:first-child > a {
    padding-left: 0;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background: url(/bundles/animadouapp/img/layout/nav_li_separator.png) no-repeat right;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #08C;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > li.current_ancestor > a,
.navbar .nav > li.current_ancestor > a {
    color: #08C;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #08C;
    background: url(/bundles/animadouapp/img/layout/nav_li_separator.png) no-repeat right;
}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    color: #fff;
}

/* sticky footer */

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -81px;
}

#push,
#footer {
    height: 81px;
}

/* photo gallery */

.album {
    display: block;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.album .muted {
    color: #808080;
}

.album:hover {
    background: #cbcbcb;
}

.album div {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 120px;
    margin-bottom: 5px;
    box-shadow: 0 0 0 1px #808080;
    background: url(/uploads/images/ajax-loader.gif) no-repeat center center #cbcbcb;
}

/* photo show */

.control {
    position:absolute;
    z-index: 5000;
    display: block;
    width: 114px;
    text-align: center;
    padding: 8px 0;
    background: #000;
}

.control-prev {
    top: 0;
}

.control-next {
    bottom: 0;
}

#slider {
    margin: 20px 0;
/*    margin-left: auto;
    margin-right: auto;
    width: 660px;*/
    float: left;
    background: #535353;
    box-shadow: 0 5px 25px 0 #000;
    /*padding: 5px;*/
}

#slider ul {
    list-style-type: none;
    margin: 0;
}

#slider .slider-wrap {
    height: 540px;
    width: 540px;
    float: left;
}

#slider .slider {
    position: relative;
}

#slider .slider > li {
    position: absolute;
    height: 540px;
    width: 540px;
    background: url(/uploads/images/ajax-loader.gif) no-repeat center center #000;
}

#slider .slider > li > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 540px;
    width: 540px;
}

#slider .carousel-wrap {
    overflow: hidden;
    position: relative;
    float: left;
    width: 114px;
    height: 468px;
    margin-left: 5px;
    padding: 36px 0;
}

#slider .carousel {
    position: relative;
    /* height/width: 9999px; isnt necessary but it avoids that we see the li under for a second before javascript resizes ( only if carousel wrap has padding or greater height that li ) */
    height: 9999px;
}

#slider .carousel > li {
    width: 114px;
    height: 114px;
    margin-bottom: 4px;
    background: url(/uploads/images/ajax-loader.gif) no-repeat center center #cbcbcb;
}

.ui-effects-wrapper {
    position: absolute !important;
}
