<div class="row" style="margin-bottom: 10px;">
    <div class="span4" style="text-align: center;">
        <img height=100 src="https://a248.e.akamai.net/assets.github.com/images/modules/home/communicate.png?1355422570" alt="0">
        <h3>Promenade de chien</h3>
        <p>Pellentesque ut massa vitae tortor consequat adipiscing. Nunc consequat rutrum urna eu rhoncus.</p>
        <p><a class="btn" href="#">View details</a></p>
    </div>
    <div class="span4" style="text-align: center;">
        <img height=100 src="https://a248.e.akamai.net/assets.github.com/images/modules/home/devices.png?1355422570" alt="0">
        <h3>Garde à votre domicile</h3>
        <p>Pellentesque ut massa vitae tortor consequat adipiscing. Nunc consequat rutrum urna eu rhoncus.</p>
        <p><a class="btn" href="#">View details</a></p>
    </div>
    <div class="span4" style="text-align: center;">
        <img height=100 src="https://a248.e.akamai.net/assets.github.com/images/modules/home/network.png?1355422570" alt="0">
        <h3>Visite à votre domicile</h3>
        <p>Pellentesque ut massa vitae tortor consequat adipiscing. Nunc consequat rutrum urna eu rhoncus.</p>
        <p><a class="btn" href="#">View details</a></p>
    </div>
</div>
