html {
    overflow-y: scroll;
}

body {
    background: #333333;
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
background: #2c539e; /* Old browsers */
background: -moz-linear-gradient(left,  #2c539e 0%, #2c539e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2c539e), color-stop(100%,#2c539e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #2c539e 0%,#2c539e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #2c539e 0%,#2c539e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #2c539e 0%,#2c539e 100%); /* IE10+ */
background: linear-gradient(to right,  #2c539e 0%,#2c539e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=1 ); /* IE6-9 */



    color: #fff;
    margin: 0;
    text-align: center;
}

h1 a {
    display: block;
    color: #fff;
    height: 44px;
    padding: 85px 0;
    border-bottom: 1px solid #111111;
    text-indent: -9999px;
    background: url(/uploads/images/logo.png) no-repeat center center;
}

h1 a:hover {
    color: #fff;
}

h2 {
    color: #2c539e;
}

.container {
    box-shadow: 0 0 10px 1px #111111;
    background: url(/uploads/images/bg.png) repeat-y;
}

.content {
    padding: 0 20px;
}

.footer {
    background: #111111;
    color: #fff;
    padding: 30px 20px;
}

.topbar {
    background: #111111;
    color: #fff;
    padding: 10px 20px;
    text-align: right;
}

ul.navigation {
    list-style: none;
    margin: 0;
}

ul.navigation > li > a {
    display: block;
    background: #111111;
    color: #fff;
    padding: 8px 20px;
}

ul.navigation > li:last-child > a {
    padding: 8px 20px 16px;
}

ul.navigation > li:first-child > a {
    padding: 16px 20px 8px;
}

ul.navigation > li > a:hover {
    color: #6d0019;
}

/* msi-slider */

#slider {
    position: relative;
}

#slider ul.slider {
    position: relative;
    height: 214px;
    width: 640px;
    margin: 0;
    float: left;
    background: #111111;
    border-bottom: 1px solid #111111;
}

#slider ul.slider > li {
    position: absolute;
}

#slider div.carousel-wrap {
    overflow: hidden;
    width: 100px;
    height: 214px;
    visibility: hidden;
    position: absolute;
}

#slider ul.carousel {
    position: relative;
    margin: 0;
}

#slider ul.carousel > li {
    width: 100px;
    height: 49px;
    margin-bottom: 1px;
}

.ui-effects-wrapper {
    position: absolute !important;
}
