/* header */

.header {
    padding: 10px 20px;
}

.header ul > li > a {
    font-size: 85%;
}

/* content */

.content {
    padding: 20px;
}

/* footer */

.footer {
    background: #1a1a1a;
    color: #999;
    font-size: 85%;
    padding: 20px;
    text-transform: uppercase;
}

/* Menu */

.sf-menu-wrap {
    background: #3b8ca5;
}

ul.sf-menu {
    list-style: none;
    margin: 0;
}

ul.sf-menu > li {
    float: left;
}

ul.sf-menu > li > a {
    display: block;
    padding: 10px 16px 9px;
    color: #fff;
    text-decoration: none;
}

ul.sf-menu > li#home-menu-item > a:hover,
ul.sf-menu > li#home-menu-item > a {
    background: none;
}

a.dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
    display: none;
}

ul.dropdown-menu {
    background: #fffbf1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    /*box-shadow: none;*/
    border: 0;
}

.dropdown-menu li > a {
    color: #333;
    padding: 10px 16px 9px;
    text-decoration: none;
    border: 0;
}

.dropdown-menu li:last-child > a {
    border-bottom: 0;
}

.dropdown-menu li.current > a, .sf-menu li.current_ancestor > a {
    color: #fff;
    background: #1d6e87;
}

ul.sf-menu > li > a:hover,
ul.sf-menu > li.current > a,
ul.sf-menu > li.sfHover > a {
    color: #fff;
    background: #1d6e87;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color: #fff;
    background: #1d6e87;
}

/* layout */

html {
    overflow-y: scroll;
}

body {
    font-family: "Verdana", Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: #555555;
}

.container {
    background-color: #fffbf1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

a {
    color: #3b8ca5;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS';
    color: #3b8ca5;
}

h1 a {
    /*color: rgb(193, 127, 66);*/
    color: #1a1a1a;
}

h1 a:hover {
    /*color: rgb(193, 127, 66);*/
    color: #1a1a1a;
}


h2 {
    font-size: 24.5px;
}

h2 a {
    color: #fff;
}

h2 a:hover {
    color: #fff;
}

h2 a small {
    font-size: 14px;
    color: #ddd;
}

img.pull-left {
    margin-right: 19px;
    margin-bottom: 19px;
}

img.pull-right {
    margin-left: 19px;
    margin-bottom: 19px;
}

/* msi-slider */

#slider {
    position: relative;
}

#slider ul.slider {
    position: relative;
    height: 280px;
    width: 560px;
    margin: 0;
    float: left;
    background: url(/uploads/images/ajax-loader.gif) no-repeat center center #a1a1a1;
}

#slider ul.slider > li {
    position: absolute;
}

#slider div.carousel-wrap {
    overflow: hidden;
    width: 100px;
    height: 280px;
    visibility: hidden;
    position: absolute;
}

#slider ul.carousel {
    position: relative;
    margin: 0;
}

#slider ul.carousel > li {
    width: 100px;
    height: 49px;
    margin-bottom: 1px;
}

.ui-effects-wrapper {
    position: absolute !important;
}


/*img {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}*/

.slider-text {
    background: #1a1a1a;
    height: 220px;
    text-align: center;
    padding: 30px 20px;
    color: #fff;
}

/* sticky footer */

html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -61px;
}

.push {
    height: 61px;
}
