{% extends 'AniCoreBundle::layout.html.twig' %}

{% block content %}
        {% for i, e in 1..30 %}
        <div class="img-polaroid pull-left" style="height: 168px;width: 168px;margin: 0 10px 10px 0;">
            <img onload="nl(this);" class="hide pull-left" src="http://placekitten.com/168/168" alt="0">
        </div>
        {% endfor %}
        <div class="clearfix"></div>
{% endblock content %}
