{% extends 'AniCoreBundle::layout.html.twig' %}

{% block content %}
        {% for i, e in 0..45 %}
        {% if loop.index == 0 or loop.index%12 == 1 %}<div class="row" style="margin-bottom: 20px;">{% endif %}
            <div class="span1">
                <div class="img-polaroid">
                    <img onload="nl(this);" class="hide pull-left" src="http://placekitten.com/g/450/450" alt="0">
                    <div class="clearfix"></div>
                </div>
            </div>
        {% if loop.index == 46 or loop.index%12 == 0 %}</div>{% endif %}
        {% endfor %}
        <div class="clearfix"></div>
{% endblock content %}
